<p *ngIf="mostrarMenu">
  <mat-toolbar class="header claro" color="primary">
    <a routerLink="">
      <span class="elemento">My Application</span>
    </a>
    <a routerLinkActive="" class="elemento" routerLink="/login"> Login </a>
    <a routerLinkActive="" class="elemento" routerLink="/cursos" [queryParams]="{pagina:1}"> Cursos </a>
    <a routerLinkActive="" class="elemento" [routerLink]="['cursos', idcurso.value]"> Cursos com id </a>
    <a routerLinkActive="" class="elemento" routerLink="/alunos" > Alunos </a>
  </mat-toolbar>
</p>
<div class="container">
  <div>
    <code>ng generate module customers --route customers --module app.module</code>
    <br>
    <code>ng g guard guards/alunos --implements CanActivateChild</code>
  </div>
  <router-outlet></router-outlet>
</div>
<!-- <div class="container">
  <p>Entre com o ID do curso</p>
  <input #idcurso>
  <input type="text" name="" id="" value="{{idcurso.value}}">
</div> -->
<mat-form-field class="example-form-field">
  <mat-label>ID curso</mat-label>
  <input matInput type="text" #idcurso>
</mat-form-field>
