<section class="property-binding">
    <h2>Aula: Property Binding e Interpolação</h2>
    <article>
        <h3>Interpolation / interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 = {{ 1+1 }} </p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }} </p>
        <p>Curso de Angilar e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}" > <!--Interpolação-->
        <br>
        <img [src]="urlImagem" > <!--Propert Binding-->
        <!-- O "[" simplifica a sintaxe abaixo-->
        <img bind-src="urlImagem" >
        <br>
        <div [attr.atributopersonalizado]="getTexto()"></div>
        <input type="text" [value]="getTexto()" style="width: 400px;">
    </article>
    <hr>
    <h2>Aula: Class e Style binding</h2>
    <!--https://github.com/valor-software/ngx-bootstrap/blob/development/docs/getting-started/ng-cli.md
        CRIAR PROJETO 
        ng new my-app
        cd my-app
        ng serve

        INSTALAR ngx-bootstrap
        npm install ngx-bootstrap bootstrap --save
        Open src/app/app.module.ts and add:
        import { AlertModule } from 'ngx-bootstrap/alert';
        ...
        @NgModule({
        ...
        imports: [AlertModule.forRoot(), ... ],
        ...
        })
        Open angular.json and insert a new entry into the styles array:
        "styles": [
         "./node_modules/bootstrap/dist/css/bootstrap.min.css",
        "styles.css",
        ],
        Open src/app/app.component.html and add:
        <alert type="success">hello</alert>
     -->
    <article>
        <alert type="success"><h3>Class e Style binding</h3></alert>
        <h4>Property binding por classe</h4>
        <div>
            <select #classeAlerta (change)="0">
                <option value="alert-primary">Primário</option>
                <option value="alert-secondary">Secundário</option>
                <option value="alert-success">Sucesso</option>
                <option value="alert-danger">Perigo</option>
                <option value="alert-warning">Cuidado</option>
                <option value="alert-info">Informação</option>
                <option value="alert-light">Alerta claro</option>
                <option value="alert-dark">Alerta escuro</option>
            </select>
        </div>
        <br>
        <div class="alert {{ classeAlerta.value }}" role="alert">
            texto colorido conforme o valor do combobox = {{ classeAlerta.value }}
        </div>
        <br>
        <div class="alert" role="alert"
            [class.alert-primary]="classeAlerta.value == 'alert-primary'" >
            A simple primary alert—check it out!
          </div>
          <div class="alert" role="alert"
          [class.alert-secondary]="classeAlerta.value == 'alert-secondary'">
            A simple secondary alert—check it out!
          </div>
          <div class="alert" role="alert"
          [class.alert-success]="classeAlerta.value == 'alert-success'">
            A simple success alert—check it out!
          </div>
          <div class="alert" role="alert"
          [class.alert-danger]="classeAlerta.value == 'alert-danger'">
            A simple danger alert—check it out!
          </div>
          <div class="alert" role="alert"
          [class.alert-warning]="classeAlerta.value == 'alert-warning'">
            A simple warning alert—check it out!
          </div>
          <div class="alert" role="alert"
          [class.alert-info]="classeAlerta.value == 'alert-info'">
            A simple info alert—check it out!
          </div>
          <div class="alert" role="alert"
          [class.alert-light]="classeAlerta.value == 'alert-light'">
            A simple light alert—check it out!
          </div>
          <div class="alert" role="alert"
          [class.alert-dark]="classeAlerta.value == 'alert-dark'">
            A simple dark alert—check it out!
          </div>
          <div class="alert alert-danger" role="alert"
          [style.display]="classeAlerta.value == 'alert-danger' ? 'block' : 'none'">
          <!-- block exibe, none não exibe -->
            Esse texto aparece somente em caso de erro!
          </div>
          <alert type="danger"
          [style.display]="classeAlerta.value == 'alert-danger' ? 'block' : 'none'">
              Pelo AlertModule em app.module.ts
            </alert>
    </article>
</section>
<section class="event-binding">
    <article>
        <h2>Aula: Event binding</h2>
        <div>
            <button (click)="botaoClicado()" 
            class="btn btn-primary">
                Me clique!
            </button>
            <br>
            <br>
            <input type="text" 
                class="form-control" 
                name="" 
                id=""
                (keyup)="onKeyUp($event)"
                (keyup.enter)="salvarValor($event.target.value)"
                (blur)="salvarValor2(campoInput.value)" 
                #campoInput>
            <br>
            <p>Valor Atual: {{ valorAtual }}</p>
            <p>Valor Salvo (enter): {{ valorSalvo }}</p>
            <p>Valor Salvo (perda de foco): {{ valorSalvo2 }}</p>
            <br>
            <br>
            <span 
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highligth]="isMouseOver">
                Passe o mouse em mim!
            </span>
        </div>
    </article>
</section>