<section class="inport">
  <article>
    <!-- https://loiane.com/2017/08/how-to-add-bootstrap-to-an-angular-cli-project/ -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <a href="https://youtu.be/Vgj9N_Lw-r4" target="_blank" rel="noopener noreferrer">
      Curso Angular #118: Instalando Bootstrap 4
    </a>
    <br>
    <a href="https://loiane.com/2017/08/how-to-add-bootstrap-to-an-angular-cli-project/" target="_blank" rel="noopener noreferrer">
      How to Add Bootstrap to an Angular CLI project
    </a>
  </article>
</section>
<section class="diretivas">
  <app-diretiva-ngif></app-diretiva-ngif>
  <hr>
  <app-diretiva-ngswitch></app-diretiva-ngswitch>
  <hr>
  <app-diretiva-ngfor></app-diretiva-ngfor>
  <hr>
  <app-diretiva-ngclass></app-diretiva-ngclass>
  <hr>
  <app-diretiva-ngstyle></app-diretiva-ngstyle>
  <hr>
  <app-operador-elvis></app-operador-elvis>
  <hr>
  <app-exemplo-ng-content>
    <div class="header">
      <h5>Título do card</h5>
    </div>
    <div class="body">
      <p>Seleciona todo os conteudos que contenham o seletor especificado</p> 
    </div>
    <div class="body">
      Conteúdo passado para o componente.
      <app-operador-elvis></app-operador-elvis>
    </div>
  </app-exemplo-ng-content>
  <hr>
  <app-diretivas-customizadas></app-diretivas-customizadas>
  <hr>
</section>
<br>
<br>