<!-- V1
     <div>
    <button class="btn btn-primary" (click)="decrementa()">-</button>
    <input type="text" readonly [value]="valor">
    <button class="btn btn-primary" (click)="incrementa()">+</button>
</div> -->
<div>
    <a href="https://youtu.be/WO3LdMeh8WU" target="_blank" rel="noopener noreferrer">
        Curso Angular #16: Acesso ao DOM e ao Template com ViewChild
    </a>
    <br>
    <button class="btn btn-primary" (click)="decrementa()">-</button>
    <input type="text" readonly [value]="valor" #campoInput>
    <button class="btn btn-primary" (click)="incrementa()">+</button>
</div>
<br>